.calculator {
    width: 340px;
    height: 640px;
    padding: 10px;
    border-radius: 20px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #83cdff 10%, #e7effa 80%);
}

.calculator--light {
    background-color: #fff;
    background-image: linear-gradient(315deg, #83cdff 10%, #e7effa 80%);
}

.calculator--dark {
    background-color: #485461;
    background-image: linear-gradient(315deg, #0f243a 0%, #1b222b 60%);
}